<!DOCTYPE html>
<html lang="en">
<head>

    <title>Matkaklubi</title>

    <%- include("../partials/pais.ejs") %>
    
</head>
<body>
    <div class="paisSektioon">
        <div class="container">
            <div class="row pt-1">
                <div class="col-12 col-md-5 d-flex">
                    <img class="logo" src="./assets-matk/matkalogo.jpg" alt="">
                    <div class="paisnimi">
                        MATKA KLUBI
                    </div>
                </div>
                <div class="col-12 col-md-7 pais-menyy">

                <%- include("../partials/menyy.ejs") %>
                
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-6 paisSektsioon-pealkirjad">
                        <div class="rida">
                            <h2>Matkaklubi</h2>
                            <img class="liblikas1" src="./assets-matk/Butterfly@2x1.png">
                        </div>
                        <div class="rida">
                            <h1>Kõik matkama</h1>
                            <img class="liblikas2" src="./assets-matk/Butterfly@2x.png" alt="">
                        </div>
                        <div class="rida">
                            <h3>Terves kehas terve vaim</h3>
                        </div>
                        <div class="nupp">
                            <button type="button" class="btn btn-dark">Kliki siia ja leia omale tulevane seiklus</button>
                        </div>
                    </div>
                    <div class="d-none d-lg-block col-lg-6 pealispilt">
                        <img class="matkaja" src="./assets-matk/matkaja.png" alt="">
                        <img class="vari" src="./assets-matk/Vari@2x.png" alt="">
                    </div>
                </div>
        </div>
    </div>

    <div class="container matkadeSektsioon pt-4">
        <div class="row">
            <% for (let i=0; i<matkad.length; i++) { %>
            <div class="col-md-4 card">
                <img class="card-ing-top" src="<%= matkad[i].pildiURL %>">
                <div class="card-body">
                    <h4 class="card-title"><%= matkad[i].nimetus %></h4>
                    <p>
                        <%= matkad[i].kirjeldus %>
                    </p>
                    <p>
                        Osaleijaid: <%= matkad[i].osalejad.length %>
                    </p>
                    <a class="btn btn-primary" href="#">Registreeru</a>
                </div>
            </div>
            <% }%>
        </div>
    </div>

</body>
</html>