<!DOCTYPE html>
<html lang="en">

<head>
    <title>Uudised</title>

    <%- include("../partials/pais.ejs") %>

        <link rel="stylesheet" href="uudised.css">

</head>
<body>

    <div class="container">
        <div class="row pt-1">
            <div class="col-12 col-md-5 d-flex">
                <img class="logo" src="/assets-matk/matkalogo.jpg" alt="">
                <div class="paisnimi">
                    MATKA KLUBI
                </div>
            </div>
            <div class="col-12 col-md-7 pais-menyy">
                <%- include("../partials/menyy.ejs") %>
            </div>
        </div>

        <div class="jumbotron text-center">
            <h1>Uudised</h1>
       

            

            <div class="row">
                <% for (let i=0; i<uudised.length; i++) { %>
                <div class="col-12 col-md-4">
                    <img class="card-img-top" src=" <%= uudised[i].pilt %>">
                    <div class="card-title">
                        <%= uudised[i].tutvustus %> 
                    </div>
                    <br>
                   
                    <a class="btn btn-primary" href="/uudiseSisu/<%= uudised [i].id %>">Loe lähemalt</a>

                </div>
                <%  } %>
            </div>
     


    </div>
</body>

</html>